In [1]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="brodway python"
)
db = database.cursor()  #  It holds the data

# db.execute(“CREATE  TABLE  subject(id INT, name VARCHAR(255))”) ----No need to execute this becasue a table has already been created

In [5]:
sql="UPDATE student SET Name = 'Roman' WHERE sn = 2"
db.execute(sql)
database.commit()

In [6]:
sql="DELETE FROM student WHERE SN = 6"
db.execute(sql)
database.commit()