In [1]:
%pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     ---- ----------------------------------- 1.3/11.9 MB 6.2 MB/s eta 0:00:02
     ------- -------------------------------- 2.4/11.9 MB 5.5 MB/s eta 0:00:02
     ---------- ----------------------------- 3.1/11.9 MB 5.3 MB/s eta 0:00:02
     ----------------- ---------------------- 5.2/11.9 MB 5.7 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 5.7 MB/s eta 0:00:01
     -------------------------- ------------- 7.9/11.9 MB 5.7 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 5.7 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 5.7 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 5.7 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 5.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (pyproject.toml): started
  Building wheel for mysql-connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=248051 sha256=3b66fbc9531d1c8c00852e2580ce4e005f2af0319ad0f44c0ed5e2118d30a806
  Stored in directory: c:\users\ompra\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="brodway python"
)
db = database.cursor()  #  It holds the data

# db.execute(“CREATE  TABLE  subject(id INT, name VARCHAR(255))”) ----No need to execute this becasue a table has already been created

In [11]:
db.execute("SELECT * FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 99, 99, 99, 99, 99, 495, 99.0, 'A+')
(2, 'Shyam', 98, 98, 98, 98, 98, 490, 98.0, 'A+')
(3, 'Hari', 97, 97, 97, 97, 97, 485, 97.0, 'A+')
(4, 'Sanu', 96, 96, 96, 96, 96, 480, 96.0, 'A+')

In [ ]:
db.execute("SELECT name,total,percentagecentagecentagecentage,grade FROM student")
result =db.fetchall()

for x in result:
  print(x)

('Ram', 495, 99.0, 'A+')
('Shyam', 490, 98.0, 'A+')
('Hari', 485, 97.0, 'A+')
('Sanu', 480, 96.0, 'A+')

In [ ]:
db.execute("SELECT * FROM student WHERE percentagecentage>=90 ")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 99, 99, 99, 99, 99, 495, 99.0, 'A+')
(2, 'Shyam', 98, 98, 98, 98, 98, 490, 98.0, 'A+')
(3, 'Hari', 97, 97, 97, 97, 97, 485, 97.0, 'A+')
(4, 'Sanu', 96, 96, 96, 96, 96, 480, 96.0, 'A+')

In [ ]:
# Insert

sql='''INSERT INTO `student`(`Name`, `Physics`, `Chemistry`, `Maths`, `Nepali`, `English`, `Total`, `percentagecentage`, `Grade`) VALUES ('Gopal','76','75','67','56','65','355','68','B');'''
db.execute(sql)
database.commit()

In [29]:
name=input("Enter the name of the stuudent: ")
p=int(input("Enter the marks obtained in Physics: "))
c=int(input("Enter the marks obtained in chemistry: "))
m=int(input("Enter the marks obtained in maths: "))
e=int(input("Enter the marks obtained in english: "))
n=int(input("Enter the marks obtained in nepali: "))
total= p+c+m+n+e
percentage=float((total/600)*100)

if(percentage>=0 and percentage<=100):
    print("The total marks obtained is ",total)
    print("The total percentagecentage is ",percentage)

    if(percentage>=90 and percentage<=100):
        grade="A+"
        
    elif(percentage>=80 and percentage<90):
        grade="A"
        
    elif(percentage>=70 and percentage<80):
        grade="B+"
        
    elif(percentage>=60 and percentage<70):
        grade="B"
        
    elif(percentage>=50 and percentage<60):
        grade="C+"
        
    elif(percentage>=40 and percentage<50):
        grade="C"
    else:
        grade="F"
        
        


# Insert
sql=f'''INSERT INTO student(Name, Physics, Chemistry, Maths, Nepali, English, Total, percentage, Grade) VALUES ('{name}',{p},{c},{m},{n},{e},{total},{percentage},'{grade}');'''
db.execute(sql)
database.commit()

The total marks obtained is  276
The total percentagecentage is  46.0