In [ ]:
# To delete list  [del--takes index,remove()---take value,pop()---removes value from one list and can be used to insert in another value]

my_list = [1, 2, 3, 4, 5]
del my_list[0]  # delete the first element
print(my_list)  # Output: [2, 3, 4, 5]

[2, 3, 4, 5]

In [2]:
my_list = [1, 2, 3, 4, 5]
del my_list[0:3]
print(my_list)

[4, 5]

In [ ]:
# Using remove()
my_list = [1, 2, 3, 4, 5, 3]
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4, 5, 3]

[1, 2, 4, 5]

In [ ]:
# To remove all the same elements, Using loop
my_list = [1, 2, 3, 4, 3, 5, 3]
c=my_list.count(3)
for i in range(c):
    my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [8]:
# index()
my_list = [1, 2, 3, 4, 3, 5, 3]
print(my_list.index(3))  # Output: 2

2

In [11]:
# To print all the index of "3"
my_list = [1, 2, 3, 4, 3, 5, 3]
l=len(my_list)
for i in range(l):
    if (my_list[i]==3):
        print(i)

2
4
6

In [16]:
#pop()

my_list=[1,2,3,4,5,6,7,3,8,3]
b=my_list.pop(1)
print(b)
print(my_list)

2
[1, 3, 4, 5, 6, 7, 3, 8, 3]

In [21]:
# To search
my_list=[1,2,3,4,5,6,7,3,8,3,2,2,2,2,2]
if 2 in my_list:
    print("2 is in the list")
    print(my_list.count(2))
else:
    print("No")

2 is in the list
6

In [26]:
# Nested list

a=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
print(a)
print(a[0])
print(a[0][0])

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[1, 2, 3, 4]
1

In [2]:
#   To print like this 
# a=[["Ram",11,"Kathmandu"],
#   ["Shyam",12,"Pokhara"],
#   ["Hari",13,"Biratnagar"]]
a=[]
n=int(input("Enter the no. of Elements: "))
for i in range(n):
    name=input("Enter the name: ")
    age=int(input("Enter the age: "))
    add=input("Enter the address: ")
    a.append([name,age,add])
print(a)

[['swa', 12, 'trp'], ['shyam', 33, 'bhak'], ['hari', 55, 'pokh']]

In [ ]:
# search
a=[["Ram",11,"Kathmandu"],
    ["Shyam",12,"Pokhara"],
    ["Hari",13,"Biratnagar"]]
word=input("Enter the name whose detail you want to search: ")
for i in a:
    if word in i:
        print(i)

['Ram', 11, 'Kathmandu']
['Shyam', 12, 'Pokhara']
['Hari', 13, 'Biratnagar']

In [9]:
# To concate the lists

a=[[1,2,3],[4,5,6]]
b=[[7,8,9]]
c=a+b
print(c)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# To update elements inside list
a=[["Ram",11,"Kathmandu"],
   ["Shyam",12,"Pokhara"],
   ["Hari",13,"Biratnagar"]]
a[0][2]="Tripureshwor"
print(a)

[['Ram', 11, 'Tripureshwor'], ['Shyam', 12, 'Pokhara'], ['Hari', 13, 'Biratnagar']]

In [17]:
lst=[["Ram",11,"Kathmandu"],
   ["Shyam",12,"Pokhara"],
   ["Hari",13,"Biratnagar"]]
for i in lst:
    i[2]=f"{i[2]},Nepal"
print(lst)

[['Ram', 11, 'Kathmandu,Nepal'], ['Shyam', 12, 'Pokhara,Nepal'], ['Hari', 13, 'Biratnagar,Nepal']]

In [19]:
# To remove in multi dimensional
lst=[["Ram",11,"Kathmandu"],
   ["Shyam",12,"Pokhara"],
   ["Hari",13,"Biratnagar"]]
lst.remove(["Ram",11,"Kathmandu"])
print(lst)

[['Shyam', 12, 'Pokhara'], ['Hari', 13, 'Biratnagar']]

In [2]:
lst=[["Ram",11,"Kathmandu"],
   ["Shyam",12,"Pokhara"],
   ["Hari",13,"Biratnagar"]]

lst2=lst.pop(0)
print(lst2)
print(lst)

['Ram', 11, 'Kathmandu']
[['Shyam', 12, 'Pokhara'], ['Hari', 13, 'Biratnagar']]

In [ ]:
# WAP to search if the given name record is in the list

lst=[["Ram",11,"Kathmandu"],
   ["Shyam",12,"Pokhara"],
   ["Hari",13,"Biratnagar"]]
name=input("Enter the name whose detail you want to search: ").upper()
for info in lst:
    for data in info:
        if(name==str(data).upper()):
            print(info)