In [ ]:
# Dictionary 
# - Indexing
# - Key-value pairs
# - Dictionaries are mutable
# - Dictionaries are ordered
# - Multiple and duplicate values

d={<key>:<value>,<key2>:<value2>,.......}

In [4]:
d={'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}  # key should be unique each time.
print(d)  # {'a': 'Apple', 'b': 'Ball', 'c':

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [3]:
print(d['b'])

Ball

In [5]:
d={'a':'Apple','b':'Ball','c':'Cat','a':'Ant'} # Mutable
print(d['a'])
print(d['b'])

Ant
Ball

In [7]:
d={'a':'Apple','b':'Ball','c':'Cat','a':'Ant'} 
for i in d:
    print(i)

a
b
c

In [9]:
d={'a':'Apple','b':'Ball','c':'Cat','a':'Ant'} 
for i in d.values():
    print(i)

Ant
Ball
Cat

In [10]:
d={'a':'Apple','b':'Ball','c':'Cat','a':'Ant'} 
for i in d.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [11]:
d=[['a','apple'],['b','ball'],['c','cat']]
print(dict(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [12]:
# CRUD
d={}
d['a']='apple'
d['b']='ball'
d['c']='cat'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [14]:
d={}
n=int(input("Enter n: "))
for i in range(n):
    name=input("Enter name of the person: ")
    phone=input("Enter the phone number: ")
    d[name]=phone
print(d)

{'swwraj': '3245', 'rhauk': '234', 'hari': '2345'}

In [ ]:
#delete
# 1) del['key']
# 2) pop()

# To delete using del['key']
d={'a': 'apple', 'b': 'ball', 'c': 'cat'}
del d['a']
print(d)

{'b': 'ball', 'c': 'cat'}

In [ ]:
# To delete using pop
d={'a': 'apple', 'b': 'ball', 'c': 'cat'}
new=d.pop('b')  # It assigns the value of key into new variable
print(new)
print(d)

ball
{'a': 'apple', 'c': 'cat'}

In [18]:
# Update
d={'a': 'apple', 'b': 'ball', 'c': 'cat'}
d['a']='ant'
print(d)

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [19]:
# List  inside dictniory
d={
    'Ram':[9812345678,9814267110],
    'Shyam':[98042715346,9845097307],
    'Rahul':[9876543210,9876543210],
}
print(d)

{'Ram': [9812345678, 9814267110], 'Shyam': [98042715346, 9845097307], 'Rahul': [9876543210, 9876543210]}

In [ ]:
d={
    'Ram':[9812345678,9814267110,[1,2]],
    'Shyam':[98042715346,9845097307],
    'Rahul':[9876543210,9876543210],
}
name=input("Enter the name: ")
number=int(input("Enter 1 fo ntc and 0 for ncell: "))

print(d[name][number])

[9812345678, 9814267110, [1, 2]]

In [22]:
# For multiple name 

d={
    'name':['Ram', 'Shyam','Hari'],
    'ntc':[123,456,789],
    'ncell':[321,654,987]
}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'ntc': [123, 456, 789],
 'ncell': [321, 654, 987]}

In [11]:
# To update the ntc num od RAM,Shyam, Hari
d={
    'name':['Ram', 'Shyam','Hari'],
    'ntc':[123,456,789],
    'ncell':[321,654,987]
}
d['ntc'][0]=1111111
d['ntc'][1]=3333333
d['ntc'][2]=2222222
print(d)

{'name': ['Ram', 'Shyam', 'Hari'], 'ntc': [1111111, 3333333, 2222222], 'ncell': [321, 654, 987]}

In [ ]:
d={
    'name':['Ram', 'Shyam','Hari'],
    'ntc':[123,456,789],
    'ncell':[321,654,987]
}
del d['ntc'][0]
d

{'name': ['Ram', 'Shyam', 'Hari'], 'ntc': [456], 'ncell': [321, 654, 987]}

In [14]:
# nested Dictionary
d={
    1:{'name':'Ram','ntc':9804271546,'ncell':9800000000},
    2:{'name':'Shyam','ntc':9804271545,'ncell':9811111111},
    3:{'name':'Hari','ntc':9804271544,'ncell':9822222222}
}
d

{1: {'name': 'Ram', 'ntc': 9804271546, 'ncell': 9800000000},
 2: {'name': 'Shyam', 'ntc': 9804271545, 'ncell': 9811111111},
 3: {'name': 'Hari', 'ntc': 9804271544, 'ncell': 9822222222}}

In [15]:
d[1]['name']

'Ram'

In [ ]:
#To add new number
d={
    1:{'name':'Ram','ntc':9804271546,'ncell':9800000000},
    2:{'name':'Shyam','ntc':9804271545,'ncell':9811111111},
    3:{'name':'Hari','ntc':9804271544,'ncell':9822222222}
}
d[1]['smart']=9765888593
d

{1: {'name': 'Ram',
  'ntc': 9804271546,
  'ncell': 9800000000,
  'smart': 9765888593},
 2: {'name': 'Shyam', 'ntc': 9804271545, 'ncell': 9811111111},
 3: {'name': 'Hari', 'ntc': 9804271544, 'ncell': 9822222222}}

 Take subject marks, create total, percentage, grade then
 
 WAP to create list inside dict and CRUD(Create Read Update and Delete)
 WAP to create dict inside list and CRUD(Create Read Update and Delete)
 WAP to create dict inside dict and CRUD(Create Read Update and Delete)

In [24]:
# List inside Dictionary

p=float(input("Enter the physics marks: "))
c=float(input("Enter the chemistry marks: "))
m=float(input("Enter the maths marks: "))
total=p+c+m
percent=total/3
if percent>90 and percent<=100:
    grade='A+'
elif percent>80 and percent<=90:
    grade='A'
elif percent>70 and percent<=80:
    grade='B+'
elif percent>60 and percent<=70:
    grade='B'
elif percent>50 and percent<=60:
    grade='C+'
elif percent>40 and percent<=50:
    grade='C'
else:
    grade='Fail'
# d = {
#     'subjects': [[f'physics = {p}'], [f'chem = {c}']],
#     'marks': [90, 85, 95]
# }
# print(d)

d = {
    'Subjects': ['Physics', 'Chemistry', 'Maths'],
    'Marks': [p, c, m],
    'Total':total,
    'Percentage': percent,
    'Grade':grade
}
print(d)

{'Subjects': ['Physics', 'Chemistry', 'Maths'], 'Marks': [88.0, 99.0, 99.0], 'Total': 286.0, 'Percentage': 95.33333333333333, 'Grade': 'A+'}

In [23]:
# Dict inside list
p=float(input("Enter the physics marks: "))
c=float(input("Enter the chemistry marks: "))
m=float(input("Enter the maths marks: "))
total=p+c+m
percent=total/3

lst=[{'physics':p},{'Chemistry':c},{'Maths':m},{'Total':total},{'Percentage':percent},{'Grade':grade}]
print(lst)

[{'physics': 88.0}, {'Chemistry': 99.0}, {'Maths': 99.0}, {'Total': 286.0}, {'Percentage': 95.33333333333333}, {'Grade': 'C+'}]

In [25]:
# Dict inside Dict

p=float(input("Enter the physics marks: "))
c=float(input("Enter the chemistry marks: "))
m=float(input("Enter the maths marks: "))
total=p+c+m
percent=total/3
dict={
    'Subjects':{'Physics','Chemistry','Maths'},
    'Marks':{p,c,m},
    'Total':total,
    'Percentage':percent,
    'Grade':grade
}
print(dict)

{'Subjects': {'Physics', 'Chemistry', 'Maths'}, 'Marks': {88.0, 99.0}, 'Total': 286.0, 'Percentage': 95.33333333333333, 'Grade': 'A+'}